@model string
@{
    ViewData["Title"] = "Home Page";

    @* Random rand = new Random();
    string[] names = new[] {"Brandon", "Griffin", "Scott", "Zach", "Jacob", "Mary", "Armond", "Mercedez", "Marty", "Doc", "Chris"};
    
    string name = names[rand.Next(0, names.Length)]; *@

}

<div class="text-center">
    <h1 class="display-4">Welcome @Model</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
